{% extends "index.html" %}
{% block body %}

    <h1>User Story Manager - {{action}}</h1>

    <form action="" method="post">

    <p><label for="story_title">Story Title</label><br>
        <div class="input-group col-xs-5">
        <input class="form-control" name="story_title" value="{{story.story_title}}">
    </div></p>


    <label for="user_story">User Story</label><br>
        <div class="input-group col-xs-5">
        <textarea class="form-control" rows="5" name="user_story">{{story.user_story}}</textarea>
        </div></p>

    <p><label for="acceptance_criteria">Acceptance Criteria</label><br>
        <div class="input-group col-xs-5">
        <textarea class="form-control" rows="5" name="acceptance_criteria">{{story.acceptance_criteria}}</textarea>
        </div></p>

    <p><label for="business_value">Business Value</label><br>
    <div class="input-group col-xs-5">
        <span class="input-group-addon" id="basic-addon1">min. 100</span>
        <input class="form-control" aria-describedby="basic-addon1" type="number" min="100" max="1500" step="100" name="business_value" value="{{story.business_value}}">
    </div></p>

    <p><label for="estimation">Estimation</label><br>
    <div class="input-group col-xs-5">
        <span class="input-group-addon" id="basic-addon2">min. 0.5</span>
        <input class="form-control" aria-describedby="basic-addon2" type="number" min="0.5" max="40" step="0.5" name="estimation" value="{{story.estimation}}">
    </div></p>

    <div class="form-group col-xs-5">
        <label for="status">Status</label><br>
            <select class="form-control" id="status" name="status">
                <option value="Planning" {{"selected" if story.status == "Planning" else ""}}>Planning</option>
                <option value="In Progress" {{"selected" if story.status == "In Progress" else ""}}>In Progress</option>
                <option value="To Do" {{"selected" if story.status == "To Do" else ""}}>To Do</option>
                <option value="Review" {{"selected" if story.status == "Review" else ""}}>Review</option>
                <option value="Done" {{"selected" if story.status == "Done" else ""}}>Done</option>
            </select>
        </div>

    <p><div><input class="btn btn-primary btn-block" type="submit" value={{action}}></div></p>
    </form>

{% endblock %}
