<!DOCTYPE html>

<html>
<head>
    <title>User Story Manager</title>
</head>

<body>
    <h1>User Story Manager</h1>

    <table>
    <tr>
        <th>Story ID</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in records %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.story_title}}</td>
            <td>{{i.user_story}}</td>
            <td>{{i.acceptance_criteria}}</td>
            <td>{{i.business_value}}</td>
            <td>{{i.estimation}}</td>
            <td>{{i.status}}</td>
            <td><a href="{{ url_for('update_user_story', story_id=i.id) }}"><img src="{{ url_for('static', filename='pencil.ico') }}" width="24" height="27" alt="Edit"></a></td>
            <td><a href="{{ url_for('delete_user_story', story_id=i.id) }}"><img src="{{ url_for('static', filename='bin.ico') }}" width="24" height="27" alt="Delete"></a></td>
        </tr>
    {% endfor %}
    </table>

    <a href="{{ url_for('add_user_story') }}">New User Story</a>
</body>

</html>
