{% extends "index.html" %}
{% block body %}

    <h1>User Story Manager</h1>

    <table class="table">
    <tr>
        <th>Story ID</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th colspan="2"></th>
    </tr>
    {% for i in records %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.story_title}}</td>
            <td>{{i.user_story}}</td>
            <td>{{i.acceptance_criteria}}</td>
            <td>{{i.business_value}}</td>
            <td>{{i.estimation}}</td>
            <td>{{i.status}}</td>
            <td><a href="{{ url_for('update_user_story', story_id=i.id) }}" data-toggle="tooltip" title="Edit"><img src="{{ url_for('static', filename='pencil.png') }}" width="24" height="27" alt="Edit"></a></td>
            <td><a href="{{ url_for('delete_user_story', story_id=i.id) }}" data-toggle="tooltip" title="Delete"><img src="{{ url_for('static', filename='bin.png') }}" width="24" height="27" alt="Delete"></a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
